/* body and all style */
body{
    text-align: center;
    margin: 1;
    color: #BBDEF0;
}

main {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-attachment: fixed,  scroll;
}

header h1{
    font-family: 'Roboto';
    color: white;
    font-size: 20px;
    line-height: 10px;
    position: relative;
    left:40px;
}


header{
    background-color: #4770AE;
    background-size:auto;
    padding: 10px 0px;
    background-attachment: fixed,  scroll;
}

/*what is diabetes*/
nav{
    text-align: center;
}

nav h1{
    font-family: 'Roboto';
    font-size: 30px;
    color: #424C49;
    font-weight: bold;
}

nav h2{
    font-family:'Quattrocento Sans';
    color: #383D42;
    font-size: 24px;
    font-weight:bold;
    line-height: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
}

nav h2:before,nav h2:after {
    content: "";
    flex: 1  1;
    border-bottom: 5px solid #13899F;
    margin: auto;
    margin-left: 8px;
    margin-right: 8px;
}


nav p{
    background-color: #DCEEFF;
    background-size: cover;
    padding: 20px 0px;
    background-attachment: fixed,  scroll;
    font-family: 'Quattrocento Sans';
    color: #383D42;
    font-size: 18px;
    font-weight:bold;
    line-height: 40px;
    text-align:start;
}


/*dangerous of diabetes*/
#dangerous {
    background-color: #DCEEFF;
    background-size: cover;
    padding-bottom: 20px;
}

#dangerous h2{
    background-color: #ffffff;
    padding-bottom: 20px;
    font-family:'Quattrocento Sans';
    color: #383D42;
    font-size: 24px;
    font-weight:bold;
    line-height: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
}


#dangerous h2:before,#dangerous h2:after {
    content: "";
    flex: 1  1;
    border-bottom: 5px solid #13899F;
    margin: auto;
    margin-left: 8px;
    margin-right: 8px;
}

#dangerous p{
    background-attachment: fixed,  scroll;
    font-family: 'Quattrocento Sans';
    color: #383D42;
    font-size: 18px;
    font-weight:bold;
    line-height: 40px;
    text-align:start;
}

#dangerous iframe{ 
    position: relative;
    height: 100%;
    width: 100%;

}
#dangerous img{
    height: 80%;
    width: 100%;
    position:relative;
}

/*how to cure */
#how {
    background-color: #DCEEFF;
    background-size:cover;
    padding-bottom: 20px;
    background-attachment: fixed,  scroll;
}
#how h2{
    background-color: #ffffff;
    background-size: cover;
    padding-bottom: 20px;
    font-family:'Quattrocento Sans';
    color: #000000;
    font-size: 24px;
    font-weight:bold;
    line-height: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
}


#how h2:before,#how h2:after {
    content: "";
    flex: 1  1;
    border-bottom: 5px solid #13899F;
    margin: auto;
    margin-left: 8px;
    margin-right: 8px;
}

#how p{
    font-family: 'Quattrocento Sans';
    color: #383D42;
    font-size: 18px;
    font-weight:bold;
    line-height: 30px;
    text-align:start;
    text-shadow: #383D42;
}

#how img.cure{
    width: 100%;
    height: 100%;
    position: relative;
}

#how img.curefood{
    width: 100%;
    height: 100%;
    position: relative;
}

/*useful website list*/
#usefulList h2{
    font-family:'Quattrocento Sans';
    color: #383D42;
    font-size: 24px;
    font-weight:bold;
    line-height: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
}
/* add two line for h2*/
#usefulList h2:before,#usefulList h2:after {
    content: "";
    flex: 1  1;
    border-bottom: 5px solid #13899F;
    margin: auto;
    margin-left: 8px;
    margin-right: 8px;
}


#usefulList p{
    padding: 5px 0px;
    font-family: 'Quattrocento Sans';
    color: #383D42;
    font-size: 22px;
    font-weight:bold;
    line-height: 20px;
    text-align:center;
 
}

#usefulList li{
    font-family: 'Quattrocento Sans';
    font-size: 18px;
    font-weight: bold;
    display:inline-block;
    line-height: 20px;
    position:relative;
    color: #4770AE;
    padding: 20px 0px;

}
/*website overview*/
#overview h2{
    font-family:'Quattrocento Sans';
    color: #424C49;
    font-size: 24px;
    font-weight:bold;
    line-height: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
}

#overview h2:before,#overview h2:after {
    content: "";
    flex: 1  1;
    border-bottom: 5px solid #13899F;
    margin: auto;
    margin-left: 8px;
    margin-right: 8px;
}

#overview p{
    background-color: #DCEEFF;
    background-size: cover;
    padding: 20px 0px;
    background-attachment: fixed,  scroll;
    font-family: 'Quattrocento Sans';
    color: #383D42;
    font-size: 18px;
    font-weight:bold;
    line-height: 40px;
    text-align:start;
}

/*website builder*/
#builder h2{
    font-family:'Quattrocento Sans';
    color: #424C49;
    font-size: 24px;
    font-weight:bold;
    line-height: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
}

#builder h2:before,#builder h2:after {
    content: "";
    flex: 1  1;
    border-bottom: 5px solid #13899F;
    margin: auto;
    margin-left: 8px;
    margin-right: 8px;
}

#builder table{
    font-family: 'Roboto';
    color: #38423F;
    font-size: 20px;
    font-weight:bold;
    line-height: 40px;
    text-align: center;    
    padding-left: 35px;
    padding-bottom: 40px;
}

#builder td{
    border: 3px solid #6AABDB;
    
}

/* footer */
footer {
    border-top: 10px solid #E5E5E5;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer h2 {
    font-family:'Quattrocento Sans';
    font-size: 24px;
    color:#38423F;
    font-weight: bold;
    line-height: 40px;
    margin: 0px;
}

footer p{
    font-family: 'Quattrocento Sans';
    color: #383D42;
    font-size: 18px;
    font-weight:bold;
    line-height: 40px;
    text-align:center;
;
}

footer a {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: bold;
    color: #4770AE;
}

footer h3{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    color: #424C49;
}


footer button{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    padding: 10px 25px;
    border: 3px solid #6DF5DE;
    border-radius: 4px;
    background-color: #6AABDD;
    color: #ffffff;
}
